.selected-day-info {
  background-color: #f0f8ff;
  width: 400px;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 2px solid #ccc;
  animation: bg_color 8.95s infinite;
  transition: all 1s ease-in-out;
  background: skyblue;
}

.selected-day-info h3 {
  text-align: center;
  margin: 12px 0px;
}

.details-cards {
  padding: 10px 5px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.details-card {
  display: flex;
  flex-direction: column;
  background: wheat;
  gap: 10px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  box-shadow: 12px 12px 12px #21a2fe;
  width: 45%;
  cursor: pointer;
  font-size: 12px;
}

.details-card:hover {
  background: #1eb7de;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
  transition: all 0.3s ease;
}

@media (max-width: 500px) {
  .selected-day-info {
    width: 100%;
    padding: 10px;
  }
}